<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:targetSandboxVersion="1" package="br.com.giganoapp.gaganima" platformBuildVersionCode="4" platformBuildVersionName="3">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <application android:allowBackup="true" android:hardwareAccelerated="true" android:icon="@drawable/ic_launcher" android:label="@string/app_name" android:largeHeap="true" android:name="com.kimede.giganimaonline.GoogleAnalyticsApp" android:supportsRtl="false" android:theme="@style/Theme.App.BlueGray" android:usesCleartextTraffic="true">
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:label="@string/app_name" android:launchMode="standard" android:name="com.kimede.giganimaonline.MyActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:launchMode="standard" android:name="com.kimede.giganimaonline.ActivityEpisodio" android:theme="@style/Theme.App.BlueGray"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:hardwareAccelerated="true" android:launchMode="standard" android:name="com.kimede.giganimaonline.utils.PlayVideoActivity" android:resizeableActivity="true" android:theme="@style/VideoPlayerTheme"/>
        <activity android:hardwareAccelerated="true" android:label="@string/app_name" android:launchMode="standard" android:name="us.shandian.giga.ui.main.MainActivity" android:theme="@style/Theme.App.BlueGray">
            <intent-filter>
                <action android:name="us.shandian.giga.intent.DOWNLOAD"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*" android:mimeType="application/*" android:scheme="http"/>
                <data android:host="*" android:mimeType="application/*" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:launchMode="standard" android:name="us.shandian.giga.ui.main.DetailActivity" android:theme="@style/Theme.App.BlueGray">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/settings" android:launchMode="standard" android:name="us.shandian.giga.ui.settings.SettingsActivity" android:theme="@style/Theme.App.BlueGray">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:label="@string/app_name" android:launchMode="standard" android:name="com.nononsenseapps.filepicker.FilePickerActivity" android:theme="@style/FilePickerTheme">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service android:name="us.shandian.giga.service.DownloadManagerService"/>
        <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-3515235299568929~8099333488"/>
        <meta-data android:name="android.support.VERSION" android:value="26.1.0"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:exported="false" android:name="com.google.android.gms.ads.AdActivity" android:theme="@android:style/Theme.Translucent"/>
        <provider android:authorities="br.com.giganoapp.gaganima.mobileadsinitprovider" android:exported="false" android:initOrder="100" android:name="com.google.android.gms.ads.MobileAdsInitProvider"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <meta-data android:name="android.arch.lifecycle.VERSION" android:value="27.0.0-SNAPSHOT"/>
        <meta-data android:name="com.android.dynamic.apk.fused.modules" android:value="base"/>
        <meta-data android:name="com.android.vending.splits" android:value="@xml/splits0"/>
        <meta-data android:name="com.android.vending.derived.apk.id" android:value="5"/>
    </application>
</manifest>